.recipe-card {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 5px 5px rgba(88, 88, 88, 0.5);
    margin-bottom: 1rem;
}